.leaflet-container {
	background: $background-color;
}

.leaflet-popup-content-wrapper {
    color: #000;
}

.region-label, .map-label {
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.region-label {
    text-align: center;
	padding: 3px 10px;
	font-family: Menomonia;
	font-style: italic;
	font-size: 24pt;
	white-space: nowrap;
	color: #ffffff;
}

.map-label {
	min-width: 100px;
    text-align: center;
	font-family: Menomonia;
	font-size: 20pt;
    color: #ffffff;
}

.map-label-default {
    @extend .map-label;
}

.map-label-city {
    @extend .map-label;
    font-style: italic;
}

.map-label-dungeon {
    @extend .map-label;
    font-size: 16pt;
	min-width: 75px;
}

.map-boundary {
	stroke-opacity: 0.6;
	fill-opacity: 0.15;
}

@each $id, $color in $map-region-label-colors {
    .region-label-#{$id} {
        @extend .region-label;
        color: lighten($color, 20);
    }

    .map-label-region-#{$id} {
        @extend .map-label;
    }

    .region-boundary-#{$id} {
		@extend .map-boundary;
        stroke: $color;
        fill: $color;
    }
}


#map[zoom-level="0"] {
	.region-label {
		font-size: 6pt;
	}

	.map-label {
		display: none;
	}
}

#map[zoom-level="1"] {
	.region-label {
		font-size: 12pt;
	}

	.map-label {
		display: none;
	}
}

#map[zoom-level="2"] {
	.region-label {
		font-size: 16pt;
	}

	.map-label {
		font-size: 8pt;
	}

	.map-label-dungeon {
		display: none;
	}
}

#map[zoom-level="3"] {
	.region-label {
		font-size: 20pt;
	}

	.map-label {
		font-size: 12pt;
	}

	.map-label-dungeon {
		font-size: 8pt;
	}
}

#map[zoom-level="4"] {
	.map-label {
		font-size: 16pt;
	}

	.map-label-dungeon {
		font-size: 12pt;
	}
}

#map[zoom-level="5"] {
	.region-label {
		opacity: 0.7;
	}
}

#map[zoom-level="6"] {
	.region-label {
		opacity: 0.4;
	}
}

#map[zoom-level="7"] {
	.region-label {
		opacity: 0.4;
	}
}
